<div class="container">
    <div class="row">
        <div class="col-md-10 m-auto" *ngIf="book">
            <div class="card card-cascade mt-3">
                <div class="view gradient-card-header blue-gradient">
                    <h2 class="h2-responsive"> {{book.name}} </h2>
                    <p>Author : {{book.authors}} </p>
                    <p>Publisher : {{book.publisher}} </p>
                    <p>Released On : {{book.released | date}} </p>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <ul class="list-group">
                            <li class="list-group-item"> ISBN : {{book.isbn}} </li>
                            <li class="list-group-item"> Number Of Pages : {{book.numberOfPages}} </li>
                            <li class="list-group-item"> Country : {{book.country}} </li>
                            <li class="list-group-item"> Media Type : {{book.mediaType}} </li>
                        </ul>
                    </div>
                    <hr>
                    <p class="h5 indigo-text">Characters :</p>
                    <small>Click on a Character to view about that Character</small>
                    <ul class="list-inline">
                        <li class="list-inline-item" *ngFor="let character of book.characters">
                            <!-- <a (click)="goToPage(character.split('/').pop())">Character : {{ character.split('/').pop() }} |</a> -->
                            <a class="light-blue-text" [routerLink]="['../../characters', character.split('/').pop()]">Character : {{ character.split('/').pop() }} |</a>
                        </li>
                    </ul>
                    <hr class=" mce-divider">
                    <p class="h5 deep-purple-text">Point Of View Characters :</p>
                    <small>Click on a Character to view about that Character</small>
                    <ul class="list-inline">
                        <li class="list-inline-item" *ngFor="let character of book.povCharacters">
                            <a class="blue-grey-text" [routerLink]="['../../characters', character.split('/').pop()]">Character : {{ character.split('/').pop() }} |</a>
                        </li>
                    </ul>
                    <hr>
                    <button type="button" class="btn btn-danger btn-rounded waves-light" (click)="goBackToPreviousPage()" mdbWavesEffect>Go Back</button>
                </div>
            </div>
        </div>
    </div>
</div>