<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark special-color-dark ie-nav" [containerInside]="false">
  <logo>
    <a class="logo navbar-brand" routerLink="/home">
      <!-- <img src="../assets/game-of-thrones.svg" alt="GOT"> -->
      <strong class="font-weight-bold">G O T</strong>
    </a>
  </logo>
  <links>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item waves-light" mdbWavesEffect routerLinkActive="active">
        <a class="nav-link" routerLink="/home">
          <i class="fa fa-home" aria-hidden="true"></i> Home
        </a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect routerLinkActive=" active">
        <a class="nav-link" routerLink="/about">
          <i class="fa fa-info" aria-hidden="true"></i> About
        </a>
    </ul>
  </links>
</mdb-navbar>

<router-outlet></router-outlet>