<div class="container">
    <div class="row">
        <div class="col-md-10 m-auto" *ngIf="character">
            <div class="card card-cascade mt-3">
                <div class="view gradient-card-header blue-gradient">
                    <h2 class="h2-responsive" *ngIf="character.name"> {{character.name}} </h2>
                    <p>
                        <i class="fa " [ngClass]="character.gender == 'Male' ? 'fa-male' : 'fa-female'" aria-hidden="true"></i> Gender : {{character.gender}}</p>
                    <p *ngIf="character.culture"> Culture : {{character.culture}} </p>
                    <p *ngIf="character.born">
                        <i class="fa fa-calendar-check-o" aria-hidden="true"></i> Born : {{character.born}} </p>
                    <p *ngIf="character.died">
                        <i class="fa fa-calendar-check-o" aria-hidden="true"></i> Died : {{character.died}} </p>
                    <p *ngIf="character.playedBy[0]">Played By :
                        <span *ngFor="let char of character.playedBy;let first=first;let last=last">{{char}} {{last ? '' : ' | '}}</span>
                    </p>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <div *ngIf="character.titles[0]">
                            <h5 class="h5">Titles :</h5>
                            <ul class="list-group">
                                <li class="list-group-item" *ngFor="let title of character.titles"> {{title}} </li>
                            </ul>
                        </div>
                        <div *ngIf="character.aliases[0]" class="m-3">
                            <h5 class="h5">Aliases :</h5>
                            <ul class="list-group">
                                <li class="list-group-item" *ngFor="let aliase of character.aliases"> {{aliase}} </li>
                            </ul>
                        </div>
                        <div>
                            <ul class="list-group">
                                <li class="list-group-item light-blue-text" *ngIf="character.father">
                                    <i class="fa fa-male" aria-hidden="true"></i>
                                    <a [routerLink]="['../../characters', character.father.split('/').pop()]">
                                        Father</a>
                                    <!-- <a class="light-blue-text" (click)="goToPage(character.father.split('/').pop())">Father </a> -->
                                </li>
                                <li class="list-group-item light-blue-text" *ngIf="character.mother">
                                    <i class="fa fa-female" aria-hidden="true"></i>
                                    <a [routerLink]="['../../characters', character.mother.split('/').pop()]">
                                        Mother</a>
                                </li>
                                <li class="list-group-item light-blue-text" *ngIf="character.spouse">
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                    <a [routerLink]="['../../characters', character.spouse.split('/').pop()]">
                                        Spouse</a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <ul class="list-inline m-3" *ngIf="character.books[0]">
                                <h5 class="h5 ">Books : </h5>
                                <li class="list-inline-item" *ngFor="let book of character.books;let first=first;let last=last">
                                    <a [routerLink]="['../../books', book.split('/').pop()]">Book {{ book.split('/').pop() }} {{last ? '' : ' | '}}</a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <ul class="list-inline m-3" *ngIf="character.povBooks[0]">
                                <h5 class="h5 ">POV Books : </h5>
                                <li class="list-inline-item" *ngFor="let book of character.povBooks;let first=first;let last=last">
                                    <a [routerLink]="['../../books', book.split('/').pop()]">Book {{ book.split('/').pop() }} {{last ? '' : ' | '}} </a>
                                </li>
                            </ul>
                        </div>
                        <hr class=" mce-divider">
                        <div>
                            <ul class="list-inline m-3" *ngIf="character.tvSeries[0]">
                                <h5 class="h5 ">TV Series : </h5>
                                <li class="list-inline-item" *ngFor="let tvSeries of character.tvSeries;let first=first;let last=last">
                                    {{tvSeries}} {{last ? '' : ' | '}}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <hr>
                    <div *ngIf="character.allegiances[0]">
                        <h5 class="h5">Allegiances :</h5>
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let allegiance of character.allegiances">
                                <a [routerLink]="['../../houses', allegiance.split('/').pop()]">
                                    <i class="fa fa-home" aria-hidden="true"></i> House {{ allegiance.split('/').pop() }} </a>
                            </li>
                        </ul>
                    </div>
                    <hr>
                    <div class="text-center">
                        <button type="button" class="btn btn-danger btn-rounded waves-light" (click)="goBackToPreviousPage()" mdbWavesEffect>Go Back</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>